// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// These two lines are meant to be somewhat of a reset to get us on a solid footing
* { margin:0; padding:0; }
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }

body {
  padding: 0 20px;
  background: #fff url('img/bg.jpg') repeat-x;
  font: 0.8em/1.5 "arial",sans-serif;
  color: #303030;
//  text-align: center;
}

.header {
  min-width: 600px;
  position:relative;
  background: #303030;
  margin-bottom: 20px;
  color: white;
  a, a:visited { text-decoration: none; color:darkgrey};
  a:hover { color:white; }
  .app-name {
    font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
    position: relative;
    overflow: hidden;
    width: 250px; height: 120px;
    font-size:230%;
    margin: 0;
    line-height: 108px;
    text-align: center;
    display:inline-block;
//    font-size: 36px;
    a {
      border-left: 8px solid #b41818;
      padding: 0px 10px 7px 10px;
    }
    .part-one {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    .part-two {
        color: dimgray;
    }
    a:hover {
      .part-two {
        color: white;
      }
    }
  }
  .right-edge {
    line-height: 108px;
    float: right;
    img {
      height: 20px;
      margin-bottom: -5px;
      padding-right: 5px;
    }
    .button {
    }
    .action {
      margin: 5px;
      padding: 0 10px;
    }
  }
  .navigation {
    position: absolute;
    bottom: 0;
    #menu { float: left; margin: 0px; }
    #menu li { display: inline; }
    #menu li a { float: left; padding: 8px 30px; margin: 0 1px 0 0; }
    #menu li a:hover { background: dimgray }
  }
  .clear { clear: both; }
}
