// Place all the styles related to the outings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.outings {
  margin: 10px 20px;
}

.outing {
  margin-bottom: 10px;
}

#outing-time-display {
  padding: 5px 40px;
  font-weight: bold;
  font-size: 200%;
}

.time-button {
  padding: 0 10px;
  display: inline-block;
}